@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@400;600;700&display=swap');
* {
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
body
{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #26a7e2;
    margin: 50px;
}
.epigraph{
    margin-bottom: 10px;

}
.comment1{
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    margin-right: 10px;
    text-align: justify;
    max-width: 500px;
    margin-top: 200px;
}
.title{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 30px;
    text-align:center;
    margin-top: 50px;
    margin-bottom: 0px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 30px;   
}
.textbody{
    border-radius: 10px;
    background-color: white;
    padding: 35px;
    text-align: justify;
}

.vid{
    text-align: right;
    padding-bottom: 10px;
}